body {
  background-color: #EAF6F6;
}

h1 {
  color: #1C6758;
  font-family: papyrus;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

p {
  color: #1C6758;
  font-family: cursive;
}

ol {
  color: #1C6758;
  font-family: cursive;
}

ul {
  color: #1C6758;
  font-family: cursive;
}

a {
  color: #1C6758;
  font-family: cursive;
}

tbody {
  color: #1C6758;
  font-family: cursive;
}

thead {
  color: #66BFBF;
}
